.howto {
  background-color: var(--contrast);
  width: 100%;
  max-width: calc(var(--max-width) + 100px);
  margin: 0 auto;
  min-height: 100px;
  display: flex;
  border-radius: 20px;

  padding: 60px 70px;

  /* A SUPPRIMER A LA PROCHAINE SECTION */
  margin-bottom: 72px;
}

.howto .section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

.howto .section-description {
  color: var(--contrast-foreground);
}

.howto .section-heading {
  margin: 0 auto;
}

.howto .section-heading * {
  text-align: center;
}
