.heroDownload {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 12px;
  padding: 32px;
  padding-top: calc(var(--navbar-height) + 32px);
}

.hero.download h1 {
  font-size: 2.6rem;
  max-width: 800px;
  max-width: 700px;
  color: var(--foreground);
}

.hero.download .description {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 500;
  max-width: 700px;
  color: rgba(var(--foreground-rgb), 0.7);
}