.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 32px;
  width: 100%;
}

.faq-item {
  background: var(--bg-content);
  border: 1px solid var(--border-default);
  border-radius: 12px;
  padding: 16px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 16px;
  background-color: var(--card);
  box-shadow: 0px 1px 6px rgba(var(--foreground-rgb), 0.1);
  border: 1px solid rgba(var(--foreground-rgb), 0.17);
}

.faq-item:hover {
  box-shadow: 0px 1px 6px rgba(var(--foreground-rgb), 0.2);
  border: 1px solid rgba(var(--foreground-rgb), 0.3);
}

.faq-question {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 19px;
  color: var(--text-primary);
}

.faq-emoji {
  font-size: 24px;
}

.faq-question-text {
  flex: 1;
}

.faq-icon {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-answer-wrapper {
  overflow: hidden;
}

.faq-answer {
  padding-top: 12px;
  color: var(--text-secondary);
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
  padding-left: 40px;
}