.persons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.5rem;
  margin-top: 60px;
  max-width: 1200px;
  width: 100%;
  align-self: center;
  justify-items: center;
}

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 180px;
  transition: 0.3s cubic-bezier(.2,0,0,1.4);
  padding: 16px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.person-card:hover {
  transform: scale(1.05) translateY(-5px) translateX(2px) rotate(-1deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.person-card:hover .person-image-gradient {
  opacity: 0.3;
  transform: scale(1);
}

.person-image-gradient {
  object-fit: cover;
  position: absolute;
  top: 0;
  height: 200%;
  aspect-ratio: 1;
  z-index: -1;
  opacity: 0;
  filter: blur(20px);
  transition: 0.3s ease;
  transform: scale(0.8);
}

.person-image {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  aspect-ratio: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.person-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.person-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.75rem;
}

.person-role {
  font-size: 1rem;
  color: rgba(var(--primary-rgb), 1);
  margin-top: 0.4rem;
  font-weight: 600;
}

.person-description {
  font-size: 0.9rem;
  color: rgba(var(--foreground-rgb), 0.7);
  margin-top: 0.4rem;
  padding: 0 0.5rem;
  font-weight: 500;
}