.hero-span {
  padding: 4px 10px;
  border-radius: 20px;
  gap: 7px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 3.3rem;
  transform: translateY(4px);
  font-size: 2.6rem;
}

@media screen and (max-width: 768px) {
  .hero-span {
    font-size: 2.2rem;
    line-height: 2.0rem;
    padding: 0 8px !important;
    height: 2.6rem !important;
    margin: 4px 0 !important;
    zoom: 0.9;
  }
}