.people {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.people img {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.people img:nth-child(1), .people img:nth-child(6) {
    width: 35px;
}

.people img:nth-child(2), .people img:nth-child(5) {
    width: 40px;
}