:root {
  --background: #ffffff;
  --background-rgb: 255, 255, 255;
  --card: #ffffff;
  --card-rgb: 255, 255, 255;
  --foreground: #343e3b;
  --foreground-rgb: 52, 62, 59;
  --primary: #29947a;
  --primary-rgb: 41, 148, 122;
  --support: #d28c00;
  --support-rgb: 210, 140, 0;
  --contrast: #bfe677;
  --contrast-rgb: 191, 230, 119;
  --contrast-foreground: #5a7821;
  --contrast-foreground-rgb: 90, 120, 33;

  --border: rgb(220, 220, 220);
  --max-width: 1200px;
  --navbar-height: 72px;
  --page-height: calc(100vh - var(--navbar-height));
}

@font-face {
  font-family: "Papillon";
  src: url("/fonts/SNPro/SNPro-Variable.woff2") format("woff2");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Papillon", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.width {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

body main {
  min-height: var(--page-height);
}

h1 {
  font-size: 2.5rem;
}

.error-page {
  height: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--page-height);
  gap: 6px;
}

.section {
  padding: 76px 20px;
  display: flex;
  flex-direction: column;
}

.section-heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 800px;
}

.section-heading .section-title {
  font-size: 2.3rem;
  letter-spacing: -0.02em;
  font-weight: 650;
  color: var(--foreground);
}

.section-heading .section-description {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(var(--foreground-rgb), 0.7);
}

.section-heading .section-title span,
.section-heading .section-description span {
  color: var(--primary);
  font-weight: 700;
}
