.button-outer {
  border-radius: 8px;
  padding: 2px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(180deg, #ffffff68, #00000068), var(--button-color);

  border: 2px solid var(--button-color);

  transition: all 0.1s ease-in-out;

  width: fit-content;
  display: inline-block;
}

.button-outer.outlined {
  background: transparent;
  border: 2px solid var(--button-color);
  box-shadow: none;
}

.button-inner {
  padding: 6px 14px;
  border-radius: 4px;
  background: var(--button-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: all 0.1s ease-in-out;

  width: fit-content;
}

.button-outer.outlined .button-inner {
  background: transparent;
}

.button-outer:hover .button-inner {
  background: linear-gradient(180deg, #00000020, #00000020), var(--button-color);
}

.button-outer.outlined:hover .button-inner {
  background: #00000020;
}

.button-outer:hover {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.35),
    0px 1px 6px 0px rgba(0, 0, 0, 0.35);
}

.button-outer.outlined:hover {
  box-shadow: none;
}

.button-outer:active .button-inner {
  background: linear-gradient(180deg, #00000040, #00000040), var(--button-color);
}

.button-outer:active {
  box-shadow: none;
  transform: scale(0.98);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.35);
}

.button-value {
  color: #fff;
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.button-outer.outlined .button-value {
  color: var(--button-color);
}
