footer {
  width: 100%;
  background-color: var(--background);
  border-top: 1px solid var(--border);
}

footer .width {
  padding: 20px;
}

.copyright {
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}
