.hero {
  background: linear-gradient(
    180deg,
    rgba(41, 148, 122, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  overflow: hidden;
}

.hero .hero-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 26px;
  padding: 60px 20px;
}

.trophies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-title span,
.main-description span {
  color: var(--primary);
  font-weight: 700;
}

.buttons-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-title {
  font-size: 2.8rem;
  line-height: 2.9rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.main-description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: rgba(var(--foreground-rgb), 0.6);
}

.main-terms {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: rgba(var(--foreground-rgb), 0.6);
}

.main-terms a {
  color: rgba(var(--foreground-rgb), 1);
  font-weight: 600;
  text-decoration: none;
}

.main-terms a:hover {
  border-bottom: 1px solid rgba(var(--foreground-rgb), 2);
}

@media screen and (max-width: 508px) {
  .button-knowmore {
    display: none;
  }
}

.hero-phones {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  overflow: hidden;
  flex-wrap: nowrap;
}

.hero-background-line {
  position: absolute;
  bottom: -200px;
  left: calc(-10% - 50px);
  width: 125%;
  height: 800px;
  z-index: -1;
  object-fit: cover;
}
